@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

footer {
	background-color: #323039;
	text-align: center;
	padding: 0.5vw;
	border-top: 1px solid black;
	height: 8vh;
}

footer p {
    font-size: 1.4vw;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}