@import url("header.css");
@import url("footer.css");

table,td {
	border: 1px solid black;
}

table {
	margin-top: 10px;
	border-collapse: collapse;
}

table button.order_creation, table button.order_update {
	background-color: transparent;
	font-family: 'Roboto', sans-serif;
	border: none;
	outline: none;
}

table td, table th{
	font-family: 'Roboto', sans-serif;
	padding: 10px;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height:72vh;
}

main > button {
	margin-top: 10px;
	margin-bottom: 10px;
}