@import url("header.css");
@import url("footer.css");

table,
td {
	border: 1px solid black;
}

table {
	margin-top: 10px;
	border-collapse: collapse;
}

table thead {
	background-color: #323039;
	color: #fff;
}

table tbody {
	background-color: #a6d2f7;
}

table button.order_creation,
table button.order_update {
	background-color: transparent;
	border: none;
	outline: none;
}

table thead th,
table tbody td {
	padding: 10px;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 84vh;
}

main>button {
	margin-top: 10px;
	margin-bottom: 10px;
}