@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("footer.css");
body {
    background-color: #ffffff;
    font-family: "Roboto", sans-serif;
    text-rendering: auto;
}
.content {
    width: 80%;
    margin: auto;
}
/* Estilos genericos */
.button-primary {
    padding: 1rem 0.5rem;
    border: 0;
    background-color: #18c3f8;
    color: #ffffff;
    font-size: 1.25rem;
    border-radius: 7px;
    box-shadow: 0px 18px 40px -12px rgba(24, 195, 216, 0.35);
    cursor: pointer;
}
/* Estilos del formulario*/
.centered-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.form-group {
    display: flex;
    flex-direction: column;
    margin: 1rem 0 1rem 0;
}
.form-group > input {
    margin: 5px 0 0 0;
    padding: 0.7rem 1.5rem;
    font-size: 1.25rem;
    border-radius: 7px;
    color: #495057;
    border: 1px solid #ced4da;
}
.form-group > label {
    color: #495057;
    font-size: 1.1rem;
}
.form-checkbox {
    display: flex;
    flex-direction: row;
}
/* Estilos de los mensajes del servidor.*/
.message {
    display: none;
    padding: 0.55em 2em;
    margin: 1.2em 0 1.2em 0;
    border-radius: 10px;
}
.success-message {
    display: block;
    color: green;
    background-color: rgba(173, 255, 47, 0.2);
    border: 1px solid green;
}
.error-message {
    display: block;
    color: red;
    background-color: rgba(255, 0, 0, 0.2);
    border: 1px solid red;
    box-shadow: 0px 18px 40px -12px rgba(255, 0, 0, 0.35);
}