<html>
    <body>
        <table>
            <tbody>
                <tr>
                    <td align="center">
                        <img
                            src="https://www.trivide.tech/images/logo_small.png"
                            alt="Trivide Logo"
                        />
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <h1
                            style="
                                margin: 0;
                                line-height: 48px;
                                font-family: 'open sans', 'helvetica neue',
                                    helvetica, arial, sans-serif;
                                font-size: 40px;
                                font-style: normal;
                                font-weight: bold;
                                color: #444444;
                            "
                        >
                            ¡Viaje a la vista !
                        </h1>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <p
                            style="
                                margin: 0;
                                font-size: 16px;
                                font-family: 'open sans', 'helvetica neue',
                                    helvetica, arial, sans-serif;
                                line-height: 24px;
                                color: #010000;
                            "
                        >
                            Parece que alguien ha decidido que es hora de
                            emprender un viaje... ¿Porque no te asomas a ver que
                            está pasando?
                        </p>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <span
                            style="
                                border-style: solid;
                                border-color: #75b6c9;
                                background: #18c3f8;
                                border-width: 1px;
                                display: inline-block;
                                border-radius: 7px;
                                width: auto;
                            "
                            ><a
                                href="https://www.trivide.tech/home"
                                style="
                                    text-decoration: none;
                                    font-family: 'open sans', 'helvetica neue',
                                        helvetica, arial, sans-serif;
                                    font-size: 18px;
                                    color: #ffffff;
                                    border-style: solid;
                                    border-color: #18c3f8;
                                    border-width: 15px 25px 15px 25px;
                                    display: inline-block;
                                    background: #18c3f8;
                                    border-radius: 7px;
                                    font-weight: normal;
                                    font-style: normal;
                                    line-height: 22px;
                                    width: auto;
                                    text-align: center;
                                "
                                target="_blank"
                                >¡Vamos a ello!</a
                            ></span
                        >
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
